.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}

.projects .project_container {
  width: 100%;
  height: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0 70px;
  background-color: #292f3bbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 867px) {
  .projects .project_container {
    height: auto;
  }
}

.projects .project_container .project_photo {
  width: 55%;
  background-size: cover;
}

@media screen and (max-width: 867px) {
  .projects .project_container .project_photo {
    display: none;
  }
}

.projects .project_container .project_photo-bggapp {
  background-image: url("../../views/bggapp.jpg");
}

.projects .project_container .project_photo-budgety {
  background-image: url("../../views/budgety.jpg");
}

.projects .project_container .project_photo-sudoku {
  background-image: url("../../views/sudoku.jpg");
}

.projects .project_container .project_photo-dicegame {
  background-image: url("../../views/piggame.jpg");
}

.projects .project_container .project_photo-chat {
  background-image: url("../../views/chat.jpg");
}

.projects .project_container .project_photo-psd {
  background-image: url("../../views/psd.jpg");
}

.projects .project_container .project_describe {
  width: 30%;
  margin: 0;
  padding: 30px;
  color: #a09090f8;
}

@media screen and (max-width: 867px) {
  .projects .project_container .project_describe {
    width: 100%;
    overflow: auto;
  }
  .projects .project_container .project_describe h1 {
    font-size: 35px;
  }
  .projects .project_container .project_describe h3 {
    font-size: 18px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 498px) {
  .projects .project_container .project_describe {
    width: 100%;
    overflow: auto;
  }
  .projects .project_container .project_describe h1 {
    font-size: 20px;
  }
  .projects .project_container .project_describe h3 {
    font-size: 12px;
    margin-bottom: 50px;
  }
}

.projects .project_container .project_describe_links {
  width: 80%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
}

.projects .project_container .project_describe_links > div {
  width: 300px;
  height: 35px;
  background-color: #343b49b6;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.projects .project_container .project_describe_links > div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #363c4dde;
  color: #fd6961e7;
  -webkit-box-shadow: -10px 10px 10px #242933;
          box-shadow: -10px 10px 10px #242933;
}

.projects .project_container .project_describe_links-githublink > a, .projects .project_container .project_describe_links-demolink > a {
  text-decoration: none;
  color: #ff5d55e7;
}

@media screen and (max-width: 867px) {
  .projects .project_container .project_describe_links-githublink > a, .projects .project_container .project_describe_links-demolink > a {
    font-size: 15px;
  }
}

@media screen and (max-width: 498px) {
  .projects .project_container .project_describe_links-githublink > a, .projects .project_container .project_describe_links-demolink > a {
    font-size: 12px;
  }
}
/*# sourceMappingURL=Projects.css.map */