.projects {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100%;
    margin: 0 auto;

    .project_container {
        width: 100%;
        height: 40%;
        box-sizing: border-box;
        margin: 20px 0 70px;
        background-color: #292f3bbd;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 867px) {
           height: auto;
        }

        .project_photo {
            width: 55%;
            background-size: cover;


            @media screen and (max-width: 867px) {
                display: none;
            }
        }

        .project_photo-bggapp {
            background-image: url('../../views/bggappr.jpg');
        }
        
        .project_photo-budgety {
            background-image: url('../../views/budgetyapp.jpg');
        }
        
        .project_photo-sudoku {
            background-image: url('../../views/sudokur.jpg');
        }
        
        .project_photo-dicegame {
            background-image: url('../../views/dicegame.jpg');
        }
        
        .project_photo-chat {
            background-image: url('../../views/chatapp.jpg');
        }
        
        .project_photo-psd {
            background-image: url('../../views/psd.jpg');
        }
        
        .project_describe {
            width: 30%;
            margin: 0;
            padding: 30px;
            color: #a09090f8;

            @media screen and (max-width: 867px) {
                width: 100%;
                overflow: auto;

                h1 {
                    font-size: 35px;}

                h3 {
                    font-size: 18px;
                    margin-bottom: 80px;
                }
            }

            @media screen and (max-width: 498px) {
                width: 100%;
                overflow: auto;

                h1 {
                    font-size: 20px;
                }

                h3 {
                    font-size: 12px;
                    margin-bottom: 50px;
                }
            }
        }
        
        .project_describe_links {
            width: 80%;
            height: 50px;
            display: flex;
            flex-direction: row;
            margin-top: 60px;
        }
        
        .project_describe_links>div {
            width: 300px;
            height: 35px;
            background-color: #343b49b6;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.9s;
            &:hover {
                transform: scale(1.2);
                background-color: #363c4dde;
                color: #fd6961e7;
                box-shadow: -10px 10px 10px #242933;
            }
        }
        
        .project_describe_links-githublink>a, .project_describe_links-demolink>a {
            text-decoration: none;
            color: #ff5d55e7;

            @media screen and (max-width: 867px) {
                font-size: 15px;
            }
                
            @media screen and (max-width: 498px) {
                font-size: 12px;
            }
        }
    }
}
  
  
  
  
  
