.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    div[class^="loader_circle"] {
        position: absolute;
        top: 50px;
        left: 50px;
        border-radius: 50%;
        transition: 1s;
        animation: loading 1.5s linear 1;

        @media screen and (max-width: 600px) {
            top: 25px;
            left: 25px;
        }
    }
    
    .loader_circle-1 {
        background-color: #ffa09dcc;
        width: 150px;
        height: 150px;

        @media screen and (max-width: 867px) {
            width: 50px;
            height: 50px;
        }

        @media screen and (max-width: 600px) {
            width: 20px;
            height: 20px;
        }
    }
    
    .loader_circle-2 {
        background-color: #ff8b85c5;
        width: 250px;
        height: 250px;
        animation-delay: 0.2s;

        @media screen and (max-width: 867px) {
            width: 150px;
            height: 150px;
        }

        @media screen and (max-width: 600px) {
            width: 70px;
            height: 70px;
        }
    }
    
    .loader_circle-3 {
        background-color: #fe5e56b4;
        width: 350px;
        height: 350px;
        animation-delay: 0.4s;

        @media screen and (max-width: 867px) {
            width: 250px;
            height: 250px;
        }

        @media screen and (max-width: 600px) {
            width: 120px;
            height: 120px;
        }
    }
    
    .loader_circle-4 {
        background-color: #fe5e568c;
        width: 450px;
        height: 450px;
        animation-delay: 0.6s;

        @media screen and (max-width: 867px) {
            width: 350px;
            height: 350px;
        }

        @media screen and (max-width: 600px) {
            width: 170px;
            height: 170px;
        }
    }
    
    .loader_circle-5 {
        background-color: #fe5e5667;
        width: 550px;
        height: 550px;
        animation-delay: 0.8s;

        @media screen and (max-width: 867px) {
            width: 450px;
            height: 450px;
        }

        @media screen and (max-width: 600px) {
            width: 220px;
            height: 220px;
        }
    }
    
    .loader_outsideCircle {
        width: 650px;
        height: 650px;
        background-color: #fe5f563f;
        position: relative;
        border-radius: 50%;

        @media screen and (max-width: 867px) {
            width: 550px;
            height: 550px;
        }

        @media screen and (max-width: 600px) {
            width: 270px;
            height: 270px;
        }
    }
}

@keyframes loading {
    0% {opacity: 0};
    10% {opacity: 0.1};
    20% {opacity: 0.2};
    30% {opacity: 0.3};
    40% {opacity: 0.4};
    50% {opacity: 0.5};
    60% {opacity: 0.6};
    70% {opacity: 0.7};
    80% {opacity: 0.8};
    90% {opacity: 0.9};
    100% {opacity: 1};
}