.loader {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.loader div[class^="loader_circle"] {
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 50%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: loading 1.5s linear 1;
          animation: loading 1.5s linear 1;
}

@media screen and (max-width: 712px) {
  .loader div[class^="loader_circle"] {
    top: 25px;
    left: 25px;
  }
}

.loader .loader_circle-1 {
  background-color: rgba(255, 161, 158, 0.8);
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 867px) {
  .loader .loader_circle-1 {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 712px) {
  .loader .loader_circle-1 {
    width: 20px;
    height: 20px;
  }
}

.loader .loader_circle-2 {
  background-color: rgba(255, 139, 133, 0.773);
  width: 250px;
  height: 250px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@media screen and (max-width: 867px) {
  .loader .loader_circle-2 {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 712px) {
  .loader .loader_circle-2 {
    width: 70px;
    height: 70px;
  }
}

.loader .loader_circle-3 {
  background-color: rgba(254, 96, 88, 0.706);
  width: 350px;
  height: 350px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@media screen and (max-width: 867px) {
  .loader .loader_circle-3 {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 712px) {
  .loader .loader_circle-3 {
    width: 120px;
    height: 120px;
  }
}

.loader .loader_circle-4 {
  background-color: rgba(254, 96, 88, 0.549);
  width: 450px;
  height: 450px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@media screen and (max-width: 867px) {
  .loader .loader_circle-4 {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 712px) {
  .loader .loader_circle-4 {
    width: 170px;
    height: 170px;
  }
}

.loader .loader_circle-5 {
  background-color: rgba(254, 96, 88, 0.404);
  width: 550px;
  height: 550px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@media screen and (max-width: 867px) {
  .loader .loader_circle-5 {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 712px) {
  .loader .loader_circle-5 {
    width: 220px;
    height: 220px;
  }
}

.loader .loader_outsideCircle {
  width: 650px;
  height: 650px;
  background-color: rgba(211, 86, 80, 0.373);
  position: relative;
  border-radius: 50%;
}

@media screen and (max-width: 867px) {
  .loader .loader_outsideCircle {
    width: 550px;
    height: 550px;
  }
}

@media screen and (max-width: 712px) {
  .loader .loader_outsideCircle {
    width: 270px;
    height: 270px;
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=Loader.css.map */