.mainPage {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0 15%;
}

.portrait>img {
  width: 330px;
  height: 500px;
  position: relative;
  padding: 20px;
  border: .2px solid #ff5d5538;
}

.line {
  margin: 0 60px 0 120px;
  height: 300px;
  border-left: 5px solid #4b5e70;
  transform: rotateZ(10deg);
}

.startingpanel {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
}

.backLayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.frontLayer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 85%;
}

.frontLayer>p:nth-child(-n + 2) {
  color: #5b7186;
  font-size: 100px;
  letter-spacing: 20px;
  font-weight: bold;
  margin: 0;
}

/*.frontLayer>p:nth-child(1) {
  margin-top: 20px;
} */

.frontLayer>p:nth-child(2) {
  margin-bottom: 40px;
} 


.frontLayer>p:nth-child(4) {
  color: #ff5d555b;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: lighter;
}

.frontLayer>h1 {
  color: #ff5d55ce;
  font-size: 36px;
  letter-spacing: 15px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialIcon {
  margin: 40px 8px 0;
  color: rgb(8, 68, 164);
  font-size: 17px;
  z-index: 1;
}

.socialIcon:hover {
  opacity: 0.5;
}





