.skills {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
}

.skillsLeft {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsLeft>span {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.divLine {
  display: flex;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsLine {
  border-right: 10px solid #ff5d55a9;
  height: 100%;
  margin: 0 20px;
}

.skillsRight {
  width: 65%;
}

.skillsRight>span {
  width: 100%;
  height: 100%;
}

.skillstext {
  color: rgb(194, 189, 189);
  font-size: 21px;
}

.skillbox {
  width: 40%;
  font-size: 90px;
  margin: 10px;
  color: #ff5d55a9;
}

.skillstransition-appear {
  opacity: 0.1;
  transform: translateX(80px);
}

.skillstransition-appear.skillstransition-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1.3s ease;
}

.skillstexttransition-appear {
  opacity: 0.1;
  transform: translateX(-60px);
}

.skillstexttransition-appear.skillstexttransition-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 1.3s ease;
}











