.skills {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 100%;
  margin: 0 auto;
}

.skillsLeft {
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.divLine {
  display: flex;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.skillsLine {
  border-right: 10px solid #ff5d55a9;
  height: 100%;
  margin: 0 20px;
}

.skillsRight {
  width: 65%;
}

.skillsRight>p {
  color: rgb(194, 189, 189);
  font-size: 25px;
}

.skillbox {
  font-size: 130px;
  color: #ff5d55a9;
  margin: 0 30px;
}

/*.skillbox {
    min-width: 300px;
    height: 150px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 10px 10px;
    background-color: rgba(8, 68, 164, 0.5);
    color: white;
    font-size: 60px;
    position: relative;
    transition: 0.5s;
    box-sizing: border-box;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.skillbox:hover {
    flex: 2;
    opacity: 1;
}*/










