.mainPage {
  margin: 0;
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.portrait {
  width: 30%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.portrait>img {
  width: 330px;
  height: 500px;
  padding: 20px;
  border: .2px solid #ff5d5538;
}

.portrait>img:hover {
  border: .2px solid white;
}



.startingPanel {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startingPanel>p:nth-child(-n + 2) {
  color: #5b7186;
  font-size: 120px;
  letter-spacing: 20px;
  font-weight: bold;
  margin: 0;
}

.startingPanel>p:nth-child(2) {
  margin-bottom: 40px;
} 

.startingPanel>p:nth-child(4) {
  color: #ff5d555b;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: lighter;
}

.startingPanel>h1 {
  color: #ff5d55ce;
  font-size: 36px;
  letter-spacing: 15px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialIcon {
  margin: 30px 8px 0;
  color: rgb(8, 68, 164);
  font-size: 17px;
}

.socialIcon:hover {
  opacity: 0.5;
}



/*****************************************/

@media (max-width: 1440px) {
  .mainPage {
    height: 60vh;
  }

  .portrait>img {
    width: 280px;
    height: 425px;
  }

  .startingPanel {
    margin-left: 20px;
  }

  .startingPanel>p:nth-child(-n + 2) {
    font-size: 80px;
    letter-spacing: 10px;
  }

  .startingPanel>p:nth-child(4) {
    letter-spacing: 1px;
    font-size: 18px;
  }
  
  .startingPanel>h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
}

/* **************************************** */
@media (max-width: 1024px) {
  .portrait>img {
    width: 230px;
    height: 350px;
  }

  .startingPanel>p:nth-child(-n + 2) {
    font-size: 60px;
    letter-spacing: 10px;
  }

  .startingPanel>p:nth-child(4) {
    letter-spacing: 0;
    font-size: 15px;
  }
  
  .startingPanel>h1 {
    font-size: 21px;
    letter-spacing: 3px;
  }
}

/* **************************************** */

@media (max-width: 767px) {
  .portrait>img {
    margin: 0 25px 0 0;
    width: 180px;
    height: 275px;
  }

  .startingPanel>p:nth-child(-n + 2) {
    font-size: 30px;
    letter-spacing: 10px;
  }

  .startingPanel>p:nth-child(4) {
    letter-spacing: 1px;
    font-size: 10px;
  }
  
  .startingPanel>h1 {
    font-size: 15px;
    letter-spacing: 10px;
  }
}
  

/* **************************************** */

@media (max-width: 520px) {
  .portrait>img {
    display: none;
  }
}





