.mainPage {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .mainPage__portrait {
        width: 330px;
        display: flex;
        justify-content: center;
        margin-right: 20px;

        @media screen and (max-width: 867px) {
            margin-right: 0;
        }


        @media screen and (max-width: 498px) {
            display: none;
        }

        img {
            width: 330px;
            height: 500px;
            padding: 20px;
            border: .2px solid #ff5d5538; 
            &:hover {
                border: .2px solid white;
            }

            @media screen and (max-width: 1200px) {
                width: 300px;
                height: 470px;
            }

            @media screen and (max-width: 1024px) {
                width: 270px;
                height: 420px;
            }

            @media screen and (max-width: 867px) {
                border: none;
                width: 240px;
                height: 370px;
            }

            @media screen and (max-width: 640px) {
                width: 200px;
                height: 310px;
            }
        }
    }
      
    
    .mainPage__text {
        width: 60%;
        text-align: center;

        @media screen and (max-width: 498px) {
            width: 100%;
        }

        p:first-child {
            color: #5b7186;
            font-size: 100px;
            letter-spacing: 20px;
            font-weight: bold;
            margin: 0;

            @media screen and (max-width: 1200px) {
                font-size: 80px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 60px;
            }

            @media screen and (max-width: 867px) {
                font-size: 50px;
            }

            @media screen and (max-width: 640px) {
                font-size: 30px;
                letter-spacing: 15px;
            }

            @media screen and (max-width: 498px) {
                font-size: 45px;
            }
        }

        p:nth-child(2) {
            @extend p:first-child;
            margin-bottom: 40px;

            @media screen and (max-width: 1200px) {
                font-size: 80px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 60px;
            }

            @media screen and (max-width: 867px) {
                font-size: 50px;
            }

            @media screen and (max-width: 640px) {
                font-size: 30px;
            }

            @media screen and (max-width: 498px) {
                font-size: 45px;
            }
        } 

        p:nth-child(4) {
            color: #ff5d555b;
            letter-spacing: 1px;
            font-size: 20px;
            font-weight: lighter;

            @media screen and (max-width: 1024px) {
                font-size: 17.5px;
            }

            @media screen and (max-width: 640px) {
                font-size: 13px;
            }

            @media screen and (max-width: 498px) {
                font-size: 17px;
            }
        }

        h1 {
            color: #ff5d55ce;
            font-size: 36px;
            letter-spacing: 15px;

            @media screen and (max-width: 1200px) {
                font-size: 25px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 20px;
            }

            @media screen and (max-width: 867px) {
                letter-spacing: 8px;
            }

            @media screen and (max-width: 640px) {
                font-size: 15px;
                letter-spacing: 4px;
            }

            @media screen and (max-width: 498px) {
                font-size: 20px;
                margin-bottom: 30px;
            }
        }
    }
}

  
  
  
  
  
  