.contact {
  margin: 0;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact__header {
  margin-bottom: 50px;
  font-size: 50px;
  letter-spacing: 2.5px;
  color: #94a9bd;
}

.contact__links {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact__official, .contact__social, .contact__other {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.contact__official>p {
  margin: 30px 0 0;
  color: #81a0bd;
  transition: .8s;
}

.contact__official>a, .contact__other>a, .contact__social>a {
  margin-top: 30px;
  display: flex;
  align-items: center;
  color: #81a0bd;
  text-decoration: none;
  transition: .8s;
}

.contact__official>a:hover, .contact__other>a:hover, .contact__social>a:hover {
  color: #e48480;  
}

.contact__official>p:hover {
  color: #e48480;  
}

.contact__official>h2, .contact__other>h2, .contact__social>h2 {
  text-align: center;
  letter-spacing: 2px;
  color: #e48480;
} 

.contact__icon {
  margin-right: 20px;
  font-size: 40px;
  color:#81a0bd;
}

.contact__official_transition-appear {
  opacity: 0;
  transform: translateY(100px);
}

.contact__official_transition-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}

.contact__social_transition-appear {
  opacity: 0;
  transform: translateY(-100px);
}

.contact__social_transition-appear.contact__social_transition-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.contact__other_transition-appear {
  opacity: 0;
  transform: translateY(100px);
}

.contact__other_transition-appear.contact__other_transition-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}