$reddishbright: hsla(3, 100%, 67%, 0.808);
$brightblue: hsl(209, 19%, 44%);

$media2: 1024px;
$media3: 867px;
$media5: 528px;

$steelblue: hsl(209, 31%, 62%);


.contact {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact_header {
        margin-bottom: 50px;
        font-size: 50px;
        letter-spacing: 2.5px;
        color: $steelblue;

        @media screen and (max-width: $media2) {
            font-size: 45px;
        }

        @media screen and (max-width: $media3) {
            font-size: 35px;
        }

        @media screen and (max-width: $media5) {
            font-size: 20px;
            margin-bottom: 20px;
        }

    }
    
    .contact_links {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @media screen and (max-width: $media5) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        span {
            @media screen and (max-width: $media5) {
                width: 50%;
            }
        }

        .contact_links-official, .contact_links-social, .contact_links-other {
            display: flex;
            flex-direction: column;
            font-size: 20px;

            
            @media screen and (max-width: $media2) {
                font-size: 16px;
            }

            @media screen and (max-width: $media3) {
                font-size: 12px;
            }

                    
            @media screen and (max-width: $media5) {
                margin-bottom: 60px;
                text-align: left;
            }


            >a {
                margin-top: 13px;
                display: flex;
                align-items: center;
                color: $steelblue;
                text-decoration: none;
                transition: .8s;
                &:hover {
                    color: $reddishbright;  
                }
            }

            p {
                @extend a;
                margin: 13px 0 0;
            }

            h2 {
                text-align: center;
                letter-spacing: 2px;
                color: $reddishbright;
                margin: 0;

                @media screen and (max-width: $media2) {
                    font-size: 15px;
                }
    
                @media screen and (max-width: $media3) {
                    font-size: 15px;
    
                }
    
                @media screen and (max-width: $media5) {
                    font-size: 12px;
                }
            }

                    
            .contact_links-icon {
                margin-right: 20px;
                font-size: 40px;
                color: $steelblue;

                
                @media screen and (max-width: $media2) {
                    font-size: 30px;
                }
    
                @media screen and (max-width: $media3) {
                    font-size: 20px;
    
                }
    
                @media screen and (max-width: $media5) {
                    font-size: 15px;
                }
            }
        }

        .contact_links-social {
            @extend .contact_links-official;
        }
        
        .contact_links-other {
            @extend .contact_links-official;
        }
        
        .contact_links-official_transition-appear {
            opacity: 0;
            transform: translateY(100px);
        }
        
        .contact_links-official_transition-appear-active {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.6s ease-in-out;
        }
        
        .contact_links-social_transition-appear {
            opacity: 0;
            transform: translateY(-100px);
        }
        
        .contact_links-social_transition-appear.contact_links-social_transition-appear-active {
            opacity: 1;
            transform: translateX(0);
            transition: all 0.6s ease-in-out;
        }
        
        .contact_links-other_transition-appear {
            opacity: 0;
            transform: translateY(100px);
        }
        
        .contact_links-other_transition-appear.contact_links-other_transition-appear-active {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.6s ease-in-out;
        }
    }
}
  
  