.contact {
  margin: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.contact .contact__header {
  margin-bottom: 50px;
  font-size: 50px;
  letter-spacing: 2.5px;
  color: #94a9bd;
}

@media screen and (max-width: 1024px) {
  .contact .contact__header {
    font-size: 45px;
  }
}

@media screen and (max-width: 867px) {
  .contact .contact__header {
    font-size: 35px;
  }
}

@media screen and (max-width: 498px) {
  .contact .contact__header {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.contact .contact__links {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 498px) {
  .contact .contact__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .contact__links .contact__official, .contact .contact__links .contact__social, .contact .contact__links .contact__other, .contact .contact__links .contact__social, .contact .contact__links .contact__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .contact .contact__links .contact__official, .contact .contact__links .contact__social, .contact .contact__links .contact__other, .contact .contact__links .contact__social, .contact .contact__links .contact__other {
    font-size: 16px;
  }
}

@media screen and (max-width: 867px) {
  .contact .contact__links .contact__official, .contact .contact__links .contact__social, .contact .contact__links .contact__other, .contact .contact__links .contact__social, .contact .contact__links .contact__other {
    font-size: 12px;
  }
}

@media screen and (max-width: 498px) {
  .contact .contact__links .contact__official, .contact .contact__links .contact__social, .contact .contact__links .contact__other, .contact .contact__links .contact__social, .contact .contact__links .contact__other {
    margin-bottom: 60px;
  }
}

.contact .contact__links .contact__official > a, .contact .contact__links .contact__social > a, .contact .contact__links .contact__other > a, .contact .contact__links .contact__official > p, .contact .contact__links .contact__official .contact__social > p, .contact .contact__links .contact__official .contact__other > p, .contact .contact__links .contact__social .contact__official > p, .contact .contact__links .contact__social > p, .contact .contact__links .contact__social .contact__other > p, .contact .contact__links .contact__other .contact__official > p, .contact .contact__links .contact__other .contact__social > p, .contact .contact__links .contact__other > p, .contact .contact__links .contact__social > a, .contact .contact__links .contact__official .contact__social > p, .contact .contact__links .contact__social > p, .contact .contact__links .contact__other .contact__social > p, .contact .contact__links .contact__other > a, .contact .contact__links .contact__official .contact__other > p, .contact .contact__links .contact__social .contact__other > p, .contact .contact__links .contact__other > p {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #81a0bd;
  text-decoration: none;
  -webkit-transition: .8s;
  transition: .8s;
}

.contact .contact__links .contact__official > a:hover, .contact .contact__links .contact__social > a:hover, .contact .contact__links .contact__other > a:hover, .contact .contact__links .contact__official > p:hover, .contact .contact__links .contact__official .contact__social > p:hover, .contact .contact__links .contact__official .contact__other > p:hover, .contact .contact__links .contact__social .contact__official > p:hover, .contact .contact__links .contact__social > p:hover, .contact .contact__links .contact__social .contact__other > p:hover, .contact .contact__links .contact__other .contact__official > p:hover, .contact .contact__links .contact__other .contact__social > p:hover, .contact .contact__links .contact__other > p:hover, .contact .contact__links .contact__social > a:hover, .contact .contact__links .contact__official .contact__social > p:hover, .contact .contact__links .contact__social > p:hover, .contact .contact__links .contact__other .contact__social > p:hover, .contact .contact__links .contact__other > a:hover, .contact .contact__links .contact__official .contact__other > p:hover, .contact .contact__links .contact__social .contact__other > p:hover, .contact .contact__links .contact__other > p:hover {
  color: #e48480;
}

.contact .contact__links .contact__official p, .contact .contact__links .contact__social p, .contact .contact__links .contact__other p, .contact .contact__links .contact__social p, .contact .contact__links .contact__other p {
  margin: 13px 0 0;
}

.contact .contact__links .contact__official h2, .contact .contact__links .contact__social h2, .contact .contact__links .contact__other h2, .contact .contact__links .contact__social h2, .contact .contact__links .contact__other h2 {
  text-align: center;
  letter-spacing: 2px;
  color: #e48480;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .contact .contact__links .contact__official h2, .contact .contact__links .contact__social h2, .contact .contact__links .contact__other h2, .contact .contact__links .contact__social h2, .contact .contact__links .contact__other h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 867px) {
  .contact .contact__links .contact__official h2, .contact .contact__links .contact__social h2, .contact .contact__links .contact__other h2, .contact .contact__links .contact__social h2, .contact .contact__links .contact__other h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 498px) {
  .contact .contact__links .contact__official h2, .contact .contact__links .contact__social h2, .contact .contact__links .contact__other h2, .contact .contact__links .contact__social h2, .contact .contact__links .contact__other h2 {
    font-size: 12px;
  }
}

.contact .contact__links .contact__official .contact__icon, .contact .contact__links .contact__social .contact__icon, .contact .contact__links .contact__other .contact__icon, .contact .contact__links .contact__social .contact__icon, .contact .contact__links .contact__other .contact__icon {
  margin-right: 20px;
  font-size: 40px;
  color: #81a0bd;
}

@media screen and (max-width: 1024px) {
  .contact .contact__links .contact__official .contact__icon, .contact .contact__links .contact__social .contact__icon, .contact .contact__links .contact__other .contact__icon, .contact .contact__links .contact__social .contact__icon, .contact .contact__links .contact__other .contact__icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 867px) {
  .contact .contact__links .contact__official .contact__icon, .contact .contact__links .contact__social .contact__icon, .contact .contact__links .contact__other .contact__icon, .contact .contact__links .contact__social .contact__icon, .contact .contact__links .contact__other .contact__icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 498px) {
  .contact .contact__links .contact__official .contact__icon, .contact .contact__links .contact__social .contact__icon, .contact .contact__links .contact__other .contact__icon, .contact .contact__links .contact__social .contact__icon, .contact .contact__links .contact__other .contact__icon {
    font-size: 15px;
  }
}

.contact .contact__links .contact__official_transition-appear {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.contact .contact__links .contact__official_transition-appear-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.contact .contact__links .contact__social_transition-appear {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.contact .contact__links .contact__social_transition-appear.contact__social_transition-appear-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.contact .contact__links .contact__other_transition-appear {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.contact .contact__links .contact__other_transition-appear.contact__other_transition-appear-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/*# sourceMappingURL=Contact.css.map */