.contact {
  margin: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact_header {
  margin-bottom: 50px;
  font-size: 50px;
  letter-spacing: 2.5px;
  color: #809fbc;
}

@media screen and (max-width: 1024px) {
  .contact .contact_header {
    font-size: 45px;
  }
}

@media screen and (max-width: 867px) {
  .contact .contact_header {
    font-size: 35px;
  }
}

@media screen and (max-width: 528px) {
  .contact .contact_header {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.contact .contact_links {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 528px) {
  .contact .contact_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 528px) {
  .contact .contact_links span {
    width: 50%;
  }
}

.contact .contact_links .contact_links-official, .contact .contact_links .contact_links-social, .contact .contact_links .contact_links-other, .contact .contact_links .contact_links-social, .contact .contact_links .contact_links-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .contact .contact_links .contact_links-official, .contact .contact_links .contact_links-social, .contact .contact_links .contact_links-other, .contact .contact_links .contact_links-social, .contact .contact_links .contact_links-other {
    font-size: 16px;
  }
}

@media screen and (max-width: 867px) {
  .contact .contact_links .contact_links-official, .contact .contact_links .contact_links-social, .contact .contact_links .contact_links-other, .contact .contact_links .contact_links-social, .contact .contact_links .contact_links-other {
    font-size: 12px;
  }
}

@media screen and (max-width: 528px) {
  .contact .contact_links .contact_links-official, .contact .contact_links .contact_links-social, .contact .contact_links .contact_links-other, .contact .contact_links .contact_links-social, .contact .contact_links .contact_links-other {
    margin-bottom: 60px;
    text-align: left;
  }
}

.contact .contact_links .contact_links-official > a, .contact .contact_links .contact_links-social > a, .contact .contact_links .contact_links-other > a, .contact .contact_links .contact_links-official > p, .contact .contact_links .contact_links-official .contact_links-social > p, .contact .contact_links .contact_links-official .contact_links-other > p, .contact .contact_links .contact_links-social .contact_links-official > p, .contact .contact_links .contact_links-social > p, .contact .contact_links .contact_links-social .contact_links-other > p, .contact .contact_links .contact_links-other .contact_links-official > p, .contact .contact_links .contact_links-other .contact_links-social > p, .contact .contact_links .contact_links-other > p, .contact .contact_links .contact_links-social > a, .contact .contact_links .contact_links-official .contact_links-social > p, .contact .contact_links .contact_links-social > p, .contact .contact_links .contact_links-other .contact_links-social > p, .contact .contact_links .contact_links-other > a, .contact .contact_links .contact_links-official .contact_links-other > p, .contact .contact_links .contact_links-social .contact_links-other > p, .contact .contact_links .contact_links-other > p {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #809fbc;
  text-decoration: none;
  -webkit-transition: .8s;
  transition: .8s;
}

.contact .contact_links .contact_links-official > a:hover, .contact .contact_links .contact_links-social > a:hover, .contact .contact_links .contact_links-other > a:hover, .contact .contact_links .contact_links-official > p:hover, .contact .contact_links .contact_links-official .contact_links-social > p:hover, .contact .contact_links .contact_links-official .contact_links-other > p:hover, .contact .contact_links .contact_links-social .contact_links-official > p:hover, .contact .contact_links .contact_links-social > p:hover, .contact .contact_links .contact_links-social .contact_links-other > p:hover, .contact .contact_links .contact_links-other .contact_links-official > p:hover, .contact .contact_links .contact_links-other .contact_links-social > p:hover, .contact .contact_links .contact_links-other > p:hover, .contact .contact_links .contact_links-social > a:hover, .contact .contact_links .contact_links-official .contact_links-social > p:hover, .contact .contact_links .contact_links-social > p:hover, .contact .contact_links .contact_links-other .contact_links-social > p:hover, .contact .contact_links .contact_links-other > a:hover, .contact .contact_links .contact_links-official .contact_links-other > p:hover, .contact .contact_links .contact_links-social .contact_links-other > p:hover, .contact .contact_links .contact_links-other > p:hover {
  color: rgba(255, 95, 87, 0.808);
}

.contact .contact_links .contact_links-official p, .contact .contact_links .contact_links-social p, .contact .contact_links .contact_links-other p, .contact .contact_links .contact_links-social p, .contact .contact_links .contact_links-other p {
  margin: 13px 0 0;
}

.contact .contact_links .contact_links-official h2, .contact .contact_links .contact_links-social h2, .contact .contact_links .contact_links-other h2, .contact .contact_links .contact_links-social h2, .contact .contact_links .contact_links-other h2 {
  text-align: center;
  letter-spacing: 2px;
  color: rgba(255, 95, 87, 0.808);
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .contact .contact_links .contact_links-official h2, .contact .contact_links .contact_links-social h2, .contact .contact_links .contact_links-other h2, .contact .contact_links .contact_links-social h2, .contact .contact_links .contact_links-other h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 867px) {
  .contact .contact_links .contact_links-official h2, .contact .contact_links .contact_links-social h2, .contact .contact_links .contact_links-other h2, .contact .contact_links .contact_links-social h2, .contact .contact_links .contact_links-other h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 528px) {
  .contact .contact_links .contact_links-official h2, .contact .contact_links .contact_links-social h2, .contact .contact_links .contact_links-other h2, .contact .contact_links .contact_links-social h2, .contact .contact_links .contact_links-other h2 {
    font-size: 12px;
  }
}

.contact .contact_links .contact_links-official .contact_links-icon, .contact .contact_links .contact_links-social .contact_links-icon, .contact .contact_links .contact_links-other .contact_links-icon, .contact .contact_links .contact_links-social .contact_links-icon, .contact .contact_links .contact_links-other .contact_links-icon {
  margin-right: 20px;
  font-size: 40px;
  color: #809fbc;
}

@media screen and (max-width: 1024px) {
  .contact .contact_links .contact_links-official .contact_links-icon, .contact .contact_links .contact_links-social .contact_links-icon, .contact .contact_links .contact_links-other .contact_links-icon, .contact .contact_links .contact_links-social .contact_links-icon, .contact .contact_links .contact_links-other .contact_links-icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 867px) {
  .contact .contact_links .contact_links-official .contact_links-icon, .contact .contact_links .contact_links-social .contact_links-icon, .contact .contact_links .contact_links-other .contact_links-icon, .contact .contact_links .contact_links-social .contact_links-icon, .contact .contact_links .contact_links-other .contact_links-icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 528px) {
  .contact .contact_links .contact_links-official .contact_links-icon, .contact .contact_links .contact_links-social .contact_links-icon, .contact .contact_links .contact_links-other .contact_links-icon, .contact .contact_links .contact_links-social .contact_links-icon, .contact .contact_links .contact_links-other .contact_links-icon {
    font-size: 15px;
  }
}

.contact .contact_links .contact_links-official_transition-appear {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.contact .contact_links .contact_links-official_transition-appear-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.contact .contact_links .contact_links-social_transition-appear {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.contact .contact_links .contact_links-social_transition-appear.contact_links-social_transition-appear-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.contact .contact_links .contact_links-other_transition-appear {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.contact .contact_links .contact_links-other_transition-appear.contact_links-other_transition-appear-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/*# sourceMappingURL=Contact.css.map */