.contact {
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .contact__header {
        margin-bottom: 50px;
        font-size: 50px;
        letter-spacing: 2.5px;
        color: #94a9bd;

        @media screen and (max-width: 1024px) {
            font-size: 45px;
        }

        @media screen and (max-width: 867px) {
            font-size: 35px;
        }

        @media screen and (max-width: 498px) {
            font-size: 20px;
            margin-bottom: 20px;
        }

    }
    
    .contact__links {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media screen and (max-width: 498px) {
        flex-direction: column;
        align-items: center;
    }

        .contact__official, .contact__social, .contact__other {
            display: flex;
            flex-direction: column;
            font-size: 20px;

            
            @media screen and (max-width: 1024px) {
                font-size: 16px;
            }

            @media screen and (max-width: 867px) {
                font-size: 12px;
            }

                    
            @media screen and (max-width: 498px) {
                margin-bottom: 60px;
            }


            >a {
                margin-top: 13px;
                display: flex;
                align-items: center;
                color: #81a0bd;
                text-decoration: none;
                transition: .8s;
                &:hover {
                    color: #e48480;  
                }
            }

            p {
                @extend a;
                margin: 13px 0 0;
            }

            h2 {
                text-align: center;
                letter-spacing: 2px;
                color: #e48480;
                margin: 0;

                @media screen and (max-width: 1024px) {
                    font-size: 15px;
                }
    
                @media screen and (max-width: 867px) {
                    font-size: 15px;
    
                }
    
                @media screen and (max-width: 498px) {
                    font-size: 12px;
                }
            }

                    
            .contact__icon {
                margin-right: 20px;
                font-size: 40px;
                color:#81a0bd;

                
                @media screen and (max-width: 1024px) {
                    font-size: 30px;
                }
    
                @media screen and (max-width: 867px) {
                    font-size: 20px;
    
                }
    
                @media screen and (max-width: 498px) {
                    font-size: 15px;
                }
            }
        }

        .contact__social {
            @extend .contact__official;
        }
        
        .contact__other {
            @extend .contact__official;
        }
        
        .contact__official_transition-appear {
            opacity: 0;
            transform: translateY(100px);
        }
        
        .contact__official_transition-appear-active {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.6s ease-in-out;
        }
        
        .contact__social_transition-appear {
            opacity: 0;
            transform: translateY(-100px);
        }
        
        .contact__social_transition-appear.contact__social_transition-appear-active {
            opacity: 1;
            transform: translateX(0);
            transition: all 0.6s ease-in-out;
        }
        
        .contact__other_transition-appear {
            opacity: 0;
            transform: translateY(100px);
        }
        
        .contact__other_transition-appear.contact__other_transition-appear-active {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.6s ease-in-out;
        }
    }
}
  
  