.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  box-sizing: border-box;
}

.aboutLeft {
  width: 60%;
  height: auto;
  border: 2px solid #f37771b0;
  margin-right: 10px;
}

/*.aboutLeft>p {
  padding: 30px;
  color: #a09090f8;
  margin: 0;
  font-size: 25px;
}*/

.aboutRight {
  width: 40%;
  height: 100%;
}

.textme {
  padding: 25px;
  color: #a09090f8;
  margin: 0;
  font-size: 22px;
  letter-spacing: 0;
}

.example-appear {
  opacity: 0.01;
  transform: translateY(-60px);
}

.example-appear.example-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1.2s ease-out;
}

.buttondisactive {
  display: none;
}


/*****************************************/
@media (max-width: 1630px) {
  .aboutLeft>p {
    font-size: 22px;
  }
}

@media (max-width: 1440px) {
  .aboutLeft>p {
    font-size: 20px;
  }
}


/* **************************************** */
@media (max-width: 1164px) {
  .aboutLeft>p {
    font-size: 18px;
  }
}

/* **************************************** */
@media (max-width: 1024px) {
  .aboutLeft>p {
    font-size: 17px;
  }
}

@media (max-width: 767px) {

}
  

/* **************************************** */

@media (max-width: 520px) {

}