.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  box-sizing: border-box;
}

.aboutLeft {
  width: 60%;
  height: auto;
  border: 2px solid #f37771b0;
  margin-right: 10px;
}

/*.aboutLeft>p {
  padding: 30px;
  color: #a09090f8;
  margin: 0;
  font-size: 25px;
}*/

.aboutRight {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
}

.hobby1 {
  background-image: url('../../views/cinema.jpeg');
}
.hobby2 {
  background-image: url('../../views/baking.jpg');
}
.hobby3 {
  background-image: url('../../views/music.jpeg');
}
.hobby4 {
  background-image: url('../../views/videogames.jpg');
}
.hobby5 {
  background-image: url('../../views/boardgames.jpeg');
}
.hobby6 {
  background-image: url('../../views/ceramic.jpg');
}

.hobby {
  width: 45%;
  height: 31.2%;
  margin: 9px;
  transition: .5s ease-in-out;
  background-size: 100%  100%;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutRight>div:nth-child(-n + 2) {
  margin-top: 0;
}

.aboutRight>div:nth-child(n + 5) {
  margin-bottom: 0;
}

.hobby:hover {
  background-size: 130% 130%;
}

.textme {
  padding: 25px;
  color: #a09090f8;
  margin: 0;
  font-size: 22px;
  letter-spacing: 0;
}

.example-appear {
  opacity: 0.01;
  transform: translateY(-60px);
}

.example-appear.example-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1.2s ease-out;
}


/*****************************************/
@media (max-width: 1630px) {
  .aboutLeft>p {
    font-size: 22px;

  }
}

@media (max-width: 1440px) {
  .aboutLeft>p {
    font-size: 20px;
  }
}


/* **************************************** */
@media (max-width: 1164px) {
  .aboutLeft>p {
    font-size: 18px;
  }
}

/* **************************************** */
@media (max-width: 1024px) {
  .aboutLeft>p {
    font-size: 17px;
  }
}

@media (max-width: 767px) {

}
  

/* **************************************** */

@media (max-width: 520px) {

}