$reddishbright: hsla(3, 100%, 67%, 0.808);
$pinkdescribe: hsla(0, 8%, 60%, 0.973);
$primarWhite: white;

$media2: 1024px;
$media3: 867px;
$media5: 528px;
$media6: 498px;
$media7: 419px;


.aboutMe {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: auto;

    @media screen and (max-width: $media5) {
        flex-direction: column;
    }
  
    .aboutMe_left {
        width: 60%;
        height: auto;
        margin-right: 10px;

        @media screen and (max-width: $media5) {
            width: 100%;
            margin-right: 0;       
        }

        @media screen and (max-width: $media6) {
            width: 100%;
            margin-right: 0;
        }

        .aboutMe_left_text {
            padding: 25px;
            color: $pinkdescribe;
            margin: 0;
            font-size: 17.3px;
            letter-spacing: 0;
            text-align: justify;

            @media screen and (max-width: $media2) {
                font-size: 15px;
            }

            @media screen and (max-width: $media3) {
                font-size: 12px;

            }

            @media screen and (max-width: $media6) {
                text-align: left;
                font-size: 11px;
                line-height: 1.5;
                padding: 10px;
            }
        }
        
        .aboutMe_left_text_transition-appear {
            opacity: 0;
        }
        
        .aboutMe_left_text_transition-appear.aboutMe__text_transition-appear-active {
            opacity: 1;
            transition: 2.5s ease-in-out;
        }
        
        .aboutMe_left_text-header {
            font-size: 50px;
            color: $primarWhite;

            @media screen and (max-width: $media2) {
                font-size: 40px;
            }

            @media screen and (max-width: $media3) {
                font-size: 30px;

            }

            @media screen and (max-width: $media5) {
                font-size: 22px;
            }

            @media screen and (max-width: $media6) {
                font-size: 20px;
            }

            @media screen and (max-width: $media7) {
                font-size: 15px;
            }
        }

        .aboutMe_left_text-tech {
            color: $reddishbright;
        }
    }

    .aboutMe_right {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 25px;

        @media screen and (max-width: $media5) {
            width: 100%; 
            height: auto;
            padding: 0;  
            margin-top: 10px;     
        }

        .aboutMe_right_skillbox {
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            @media screen and (max-width: $media5) {
                width: 100%;
            }

            div {
                width: 40%;

                @media screen and (max-width: $media5) {
                    width: auto;
                }

                .aboutMe_right_skillbox-skillIcon {
                    font-size: 120px;
                    color: $reddishbright;

                    @media screen and (max-width: $media2) {
                        font-size: 90px;
                    }

                    @media screen and (max-width: $media3) {
                        font-size: 60px;

                    }

                    @media screen and (max-width: $media5) {
                        font-size: 35px;
                        margin-right: 15px;
                    }

                    @media screen and (max-width: $media6) {
                        font-size: 20px;
                    }

                }              
            }
        }
        
        
        .aboutMe_right_skillbox-transition {
            opacity: 0.1;
            transform: translateX(80px);
        }
        
        .aboutMe_right_skillbox-transition-appear.aboutMe_right_skillbox-transition-appear-active {
            opacity: 1;
            transform: translateX(0);
            transition: all 1.3s ease;
        }
        
        .aboutMe_right_skillbox-transition-appear {
            opacity: 0.1;
            transform: translateX(-60px);
        }
        
        .aboutMe_right_skillbox-transition-appear.aboutMe_right_skillbox-transition-appear-active {
            opacity: 1;
            transform: translateX(0);
            transition: all 1.3s ease;
        }
    }
}
    
  
