.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: 0 auto;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-me .about-me__left {
  width: 60%;
  height: auto;
  margin-right: 10px;
}

@media screen and (max-width: 560px) {
  .about-me .about-me__left {
    width: 70%;
  }
}

.about-me .about-me__left .about-me__text {
  padding: 25px;
  color: #a09090f8;
  margin: 0;
  font-size: 17.3px;
  letter-spacing: 0;
  text-align: justify;
}

@media screen and (max-width: 1024px) {
  .about-me .about-me__left .about-me__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 867px) {
  .about-me .about-me__left .about-me__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 498px) {
  .about-me .about-me__left .about-me__text {
    text-align: left;
    font-size: 11px;
    line-height: 1.5;
    padding: 10px;
  }
}

.about-me .about-me__left .about-me__text_transition-appear {
  opacity: 0;
}

.about-me .about-me__left .about-me__text_transition-appear.about-me__text_transition-appear-active {
  opacity: 1;
  -webkit-transition: 2.5s ease-in-out;
  transition: 2.5s ease-in-out;
}

.about-me .about-me__left .about-me__text-header {
  font-size: 50px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .about-me .about-me__left .about-me__text-header {
    font-size: 40px;
  }
}

@media screen and (max-width: 867px) {
  .about-me .about-me__left .about-me__text-header {
    font-size: 30px;
  }
}

@media screen and (max-width: 560px) {
  .about-me .about-me__left .about-me__text-header {
    font-size: 22px;
  }
}

@media screen and (max-width: 498px) {
  .about-me .about-me__left .about-me__text-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 419px) {
  .about-me .about-me__left .about-me__text-header {
    font-size: 15px;
  }
}

.about-me .about-me__right {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 25px;
}

@media screen and (max-width: 468px) {
  .about-me .about-me__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-me .about-me__right .skillbox {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 420px) {
  .about-me .about-me__right .skillbox {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-me .about-me__right .skillbox div {
  width: 40%;
}

.about-me .about-me__right .skillbox div .skillbox-skillIcon {
  font-size: 120px;
  color: #ff5d55a9;
  margin: 0 5px 30px 0;
}

@media screen and (max-width: 1024px) {
  .about-me .about-me__right .skillbox div .skillbox-skillIcon {
    font-size: 90px;
  }
}

@media screen and (max-width: 867px) {
  .about-me .about-me__right .skillbox div .skillbox-skillIcon {
    font-size: 60px;
  }
}

@media screen and (max-width: 560px) {
  .about-me .about-me__right .skillbox div .skillbox-skillIcon {
    font-size: 45px;
  }
}

@media screen and (max-width: 498px) {
  .about-me .about-me__right .skillbox div .skillbox-skillIcon {
    font-size: 38px;
    margin-bottom: 50px;
  }
}

.about-me .about-me__right .skillstransition-appear {
  opacity: 0.1;
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.about-me .about-me__right .skillstransition-appear.skillstransition-appear-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

.about-me .about-me__right .skillstexttransition-appear {
  opacity: 0.1;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.about-me .about-me__right .skillstexttransition-appear.skillstexttransition-appear-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1.3s ease;
  transition: all 1.3s ease;
}
/*# sourceMappingURL=AboutMe.css.map */