.about-me {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;

    @media screen and (max-width: 560px) {
        flex-direction: column;
    }
  
    .about-me__left {
        width: 60%;
        height: auto;
        margin-right: 10px;

        @media screen and (max-width: 560px) {
            width: 100%;
            margin-right: 0;       
        }

        @media screen and (max-width: 498px) {
            width: 100%;
            margin-right: 0;
        }

        .about-me__text {
            padding: 25px;
            color: #a09090f8;
            margin: 0;
            font-size: 17.3px;
            letter-spacing: 0;
            text-align: justify;

            @media screen and (max-width: 1024px) {
                font-size: 15px;
            }

            @media screen and (max-width: 867px) {
                font-size: 12px;

            }

            @media screen and (max-width: 498px) {
                text-align: left;
                font-size: 11px;
                line-height: 1.5;
                padding: 10px;
            }
        }
        
        .about-me__text_transition-appear {
            opacity: 0;
        }
        
        .about-me__text_transition-appear.about-me__text_transition-appear-active {
            opacity: 1;
            transition: 2.5s ease-in-out;
        }
        
        .about-me__text-header {
            font-size: 50px;
            color: white;

            @media screen and (max-width: 1024px) {
                font-size: 40px;
            }

            @media screen and (max-width: 867px) {
                font-size: 30px;

            }

            @media screen and (max-width: 560px) {
                font-size: 22px;
            }

            @media screen and (max-width: 498px) {
                font-size: 20px;
            }

            @media screen and (max-width: 419px) {
                font-size: 15px;
            }
        }

        .about-me__text-tech {
            color: #ff5d55a9;
        }
    }

    .about-me__right {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 25px;

        @media screen and (max-width: 560px) {
            width: 100%; 
            height: auto;
            padding: 0;  
            margin-top: 10px;     
        }

        .skillbox {
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            @media screen and (max-width: 560px) {
                width: 100%;
            }

            div {
                width: 40%;

                @media screen and (max-width: 560px) {
                    width: auto;
                }

                .skillbox-skillIcon {
                    font-size: 120px;
                    color: #ff5d55a9;
                    margin: 0 5px 30px 0;

                    @media screen and (max-width: 1024px) {
                        font-size: 90px;
                    }

                    @media screen and (max-width: 867px) {
                        font-size: 60px;

                    }

                    @media screen and (max-width: 560px) {
                        font-size: 35px;
                        margin-right: 15px;
                    }

                    @media screen and (max-width: 498px) {
                        font-size: 20px;
                    }

                }              
            }
        }
        
        
        .skillstransition-appear {
            opacity: 0.1;
            transform: translateX(80px);
        }
        
        .skillstransition-appear.skillstransition-appear-active {
            opacity: 1;
            transform: translateX(0);
            transition: all 1.3s ease;
        }
        
        .skillstexttransition-appear {
            opacity: 0.1;
            transform: translateX(-60px);
        }
        
        .skillstexttransition-appear.skillstexttransition-appear-active {
            opacity: 1;
            transform: translateX(0);
            transition: all 1.3s ease;
        }
    }
}
    
  
